@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply text-secondary
    }
}

body{
    font-family: 'Montserrat', sans-serif;
}

.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
}

.slick-slide{
    margin: 0 10px;
}

.carDetailSlide .slick-slide{
    margin: 0;
}

.slick-dots{
    display: flex !important;
    align-items: center;
    gap:15px;
    margin-top: 1.5rem;
    overflow-x: auto;
}

.slick-dots li{
    height: 100px;
    min-width: 100px;
    cursor: pointer;
}

.slick-dots li.slick-active{
    border: 4px solid red;
    background-color: black;
}

.slick-dots li.slick-active img{
    opacity: 50%;
}